html,
body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 1rem;
    --radius: 12px;
    --box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
    --bg-Color: rgb(111 127 143);
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
    gap: 0.7em;
    padding: var(--padding);
    background-color: lightslategrey;
}

header {
    grid-column: 1/3;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--bg-Color);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40vh;
    padding: calc(var(--padding) / 2);
    border-radius: var(--radius);
    background-color: var(--bg-Color);
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 5.19);
}

.todoHead,
.projectHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.content {
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

button {
    width: 50px;
    font-weight: 900;
}

dialog:open {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form div {
    width: 100%;
    padding: 0 2em 0 1em;
}

dialog{
    border-radius: var(--radius);
    background-color: var(--bg-Color);
}

::backdrop{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.project-form {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    gap: 1.5em;
    padding: var(--padding);
}

fieldset > label {
    width: fit-content;
}

.projectOptions {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.buttons button {
    width: 100px;
    height: 25px;
}

/*input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: red;
}*/

input {
    border: 1px solid lightblue;
    border-radius: 4px;
    flex: 1;
}

fieldset {
    border: 1px solid lightblue;
    border-radius: 12px;
    flex: 1;
}

form > div {
    display: flex;
}

.Priority {
    display: flex;
    justify-content: center;
    padding: 0 2em 0 1em;
}

input[name="priority"] {
    border: 1px solid lightblue;
}

.task,
.project {
    background-color: lightgray;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}



.Todo-list,
.Project-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content {
    display: grid;
    gap: 12px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    padding: 2em;
}

.homeCard , .taskCard{
    height: 200px;
    /*width: 150px;*/
    background-color: var(--bg-Color);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Home {
    background-color: darkslategrey;
    height: 50px;
    padding: 15px;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

.btnContainer{
    display: flex;
    gap: 8px;
}

button{
    border-radius: calc(var(--radius)/2);
    padding: 4px;
    border: none;
    text-align: center;
    width: 50px;
    height: 25px;
}