html,
body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
}

header {
    grid-column: 1/4;
    border: 1px solid red;
}

.sidebar {
    border: 1px solid red;
}
